.favorite::-webkit-scrollbar {
  width: 0.5rem;
}

.favorite::-webkit-scrollbar-thumb {
  background-color: $primary;
}
  
.favorite::-webkit-scrollbar-track {
  background-color: rgba($primary,0.5);
}
