body{
  font-family: 'creamfont',sans-serif;
  overflow-x: hidden;
  background-color: $secondary;
}

input:focus,button:focus,textarea:focus,select:focus{
  outline: none;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

select {
  -webkit-appearance: none;
  border-radius: 0;
}

.jf-loading body { /*載入中不顯示*/
  opacity: 0;
  visibility: hidden;
}

.jf-active body { /*如果處理成功，直接顯示*/
  opacity: 1;
  visibility: visible;
}
